<div class="row-fluid">
   <div class="span12 pagination-centered"><%= image_tag("zaarly.jpeg", :alt => "myself") %></div>
</div>
<h1 class="about"><strong>The name's Carlos ...<br> Carlitos, Charlie, and anything else similar.</strong></h1>

<h2>More about me:</h2>
<p>Mostly known for Sales and Marketing. Self taught programmer (Ruby on Rails, HTML, CSS). Looking to learn and grow. Georgetown Univ. Undergrad Business Program.</p>

<h2>Blogging:</h2>
<h2><%= link_to "Medium", "https://medium.com/@CarloskCheung", :class => "linkmargin" %></h2>