<div class="row-fluid">
   <div class="span12 pagination-centered"><%= image_tag("Gtown3.jpg", :alt => "georgetown") %></div>
</div>

<h1 class="ontop"><strong>"Learn to work then you'll always work;<br> Work to learn then you'll always learn"</strong></h1>




  
